.calculator {
    background-color: #272E37;
    /* 343838 */
    height: 70vh;
    width: 600px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .calculator {
        width: 300px;
    }
}




